.main-container {
	height: auto;
	position: relative;
	margin: 10px;
	background-color: #fff;
}

.event-infos {
	width: 300px;
	height: 400px;
}

.event-logo {
	background-color: #ccc;
	padding: 7px;
}

.event-logo div {
	height:54px; 
	width:266px;
	margin-right: auto;
	margin-left: auto;
}

.event-data {

}

.chat {
	position: absolute;
	width: 300px;
	height: 200px;
	bottom:0;
	right: 10px;
}

.twitt {
	position: absolute;
	width: 300px;
	height: 200px;
	top:10px;
	right: 10px;
}

.collaborations {
	width: 250px;
	font-size: 11px;
	position: absolute;
}

.collaborations section {
	padding: 4px;
}