body {
	background: url('../img/saopaulo.jpg') fixed;
}
.event-infos h5 {
	color: #f9f9f9;
}
.main-container {
	height: auto;
	position: relative;
	margin: 10px;
	background: inherit;
}

.event-infos {
	background-color: #000;
	width: 300px;
	height: 400px;
	opacity: 0.8;
	color: #fff;
}

.event-logo {
	padding: 7px;
}

.event-logo div {
	height:54px; 
	width:266px;
	margin-right: auto;
	margin-left: auto;
}

.event-data {

}

.img-wrapper {
	float: left;
	padding: 3px;
	border: 1px solid #CCC;
	margin-right: 4px
}

.chat {
	padding: 5px;
	position: absolute;
	width: 300px;
	height: 200px;
	bottom:0;
	right: 10px;
}

.list-twitt {
	padding: 3px;
	border: 1px solid #ddd;
}

.twitt {
	padding: 5px;
	position: absolute;
	width: 300px;
	height: 200px;
	top:10px;
	right: 10px;
	font-size: 10px;
}

.odd {
	background-color: #F9F9F9;
}

.even {
	background-color: #FFF;
}

.twitt {
	overflow: hidden;
}

.collaborations {
	width: 250px;
	font-size: 11px;
	position: absolute;
	background: #000;
}

.collaborations section p {
	padding: 5px;
	color: #ccc;
	line-height: 11px;
}

.tnw-twittes section p {
	padding: 5px;
	color: #ccc;
	line-height: 11px;
}

.tnw-twittes {
	width: 250px;
	font-size: 11px;
	position: absolute;
	left: 300px;
	background: #000;
}

#tweets {
	height: 140px;
	overflow-x: auto;
}